#big-box
{
    background-color: #EDDBDD;
    min-height:100vh;
    padding:5px;
}
#counter-cookie-box
{
    background-color: #E2ADBD;
}
#emily-container
{
    background-color: #9DCEBD;
}
#modifier-container
{
    background-color: #F6DEBC;
}
body {
    min-height:100vh;
    padding: 0px;
    margin: 0px;
}
.button
{
    height: 33.33%;
}